@model HomeStay.Models.Room

@{
    ViewData["Title"] = "Room Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<link href="~/css/roomdetailcss.css" rel="stylesheet" />
<div class="mt-5 detail_room-container">
    <div class="detail_gallery">
        <div class="slider-wrap">
            <button type="button" class="slide-arrow slide-prev slide-disabled d-none-mb">
                <i class="fas fa-chevron-left slide-arrow_icon"></i>
            </button>
            <div class="slider-list mt_8">
                <div class="slider-track">
                    <div class="slider-item col-pading-2-5">
                        <div class="room-slide">
                            <img src="@Url.Content("~/img/rooms/" + @Model.Avatar)" class="opacity-75" alt="" lazy="loaded">
                        </div>
                    </div>
                    <div class="slider-item col-pading-2-5">
                        <div class="room-slide">
                            <img src="@Url.Content("~/img/rooms/" + @Model.Avatar)" alt="" lazy="loaded" >
                        </div>
                    </div>
                    <div class="slider-item col-pading-2-5">
                        <div class="room-slide">
                            <img src="@Url.Content("~/img/rooms/" + @Model.Avatar)" class="opacity-75" alt="" lazy="loaded">
                        </div>
                    </div>
                    <div class="slider-item col-pading-2-5">
                        <div class="room-slide">
                            <img src="@Url.Content("~/img/rooms/" + @Model.Avatar)" alt="" lazy="loaded">
                        </div>
                    </div>
                    <div class="slider-item col-pading-2-5">
                        <div class="room-slide">
                            <img src="@Url.Content("~/img/rooms/" + @Model.Avatar)" alt="" lazy="loaded">
                        </div>
                    </div>
                    <div class="slider-item col-pading-2-5">
                        <div class="room-slide">
                            <img src="~/img/moutain.jpg"  alt="" lazy="loaded">
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="slide-arrow slide-next d-none-mb">
                <i class="fas fa-chevron-right slide-arrow_icon"></i>
            </button>
        </div>
        <div class="detail_gallery-bot d-none-mb">
            <button class="bot-btn btn-bgr btn-font">
                <i class="fas fa-ellipsis-v bot-btn-icon"></i>
                <i class="fas fa-ellipsis-v bot-btn-icon"></i>
                <i class="fas fa-ellipsis-v bot-btn-icon"></i>
                <span style="margin-left: 10px;">Khám phá chỗ ở</span>
            </button>
        </div>
    </div>
    <div class="container py-5">
        <div class="">
            <div class="detail-content">
                <div class="  wide padding-lr-20">
                    <div class="row_flex mt_8">
                        <div class="col-8 m-12 col-pading">
                            <div class="detail-content_info">
                                <div id="general" class="section">
                                    <section>
                                        <div class="row_flex">
                                            <div class="col-12">
                                                <div>
                                                    <div class="detail-head">
                                                        <div class="row_flex">
                                                            <div class="mb-12 col-10">
                                                                <h1 class="detail-head_title">@Model.Title</h1>
                                                            </div>
                                                            <div class="col-2 text-right d-none-mb">
                                                                <div class="host-intro">
                                                                    <a href="" class="img-box">
                                                                        <i class="fa-solid fa-face-smile fa-2x text-primary"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="detail-location space-top-18">
                                                        <svg version="1.1" viewBox="0 0 24 24" class="svg-icon svg-fill" style="width: 24px; height: 24px;"><g fill="none" fill-rule="evenodd"><circle pid="0" cx="12" cy="12" r="12" fill="#000" fill-opacity=".2" fill-rule="nonzero"></circle><path pid="1" fill="#FFF" d="M11.92 6c2.87 0 5.218 2.335 5.218 5.205a5.112 5.112 0 01-1.055 3.137c-.97 1.252-3.77 3.461-3.882 3.56a.43.43 0 01-.282.098.43.43 0 01-.281-.098c-.113-.099-2.912-2.308-3.883-3.546a5.182 5.182 0 01-1.055-3.15C6.7 8.335 9.05 6 11.92 6zm0 7.203a2.104 2.104 0 000-4.207 2.104 2.104 0 000 4.206z"></path></g></svg>
                                                        <span class="detail-title">@Model.Area</span>
                                                        <a href="" class="detail-title-green text-decoration-none">Xem bản đồ</a>
                                                    </div>
                                                    
                                                    <div class="detail-type space-top-18">
                                                        <p>
                                                            @Model.Detail
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="d-block-tl">
                                                    <div class="row_flex mt_8">
                                                        <div class="col-6 mb-12 space-top-30 col-pading">
                                                            <div class="row_flex room-host">
                                                                <div class="room-slidebar_host m-12 space-top-24 space-bottom-24">
                                                                    <a href="" class="host-intro row_flex">
                                                                        <div class="img-box">
                                                                            <img src="./assets/img/details/host-avatar.png" alt="">
                                                                        </div>
                                                                        <div class="host-intro_name">
                                                                            <p class="space-bottom-6">Ngô Phương Mai</p>
                                                                            <p>Tham gia 02/2020</p>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="amenities space-top-36">
                                                    <div class="detail_intro">
                                                        <div class="detail_intro-show dot show" style="-webkit-box-orient: vertical;">
                                                            <p>
                                                                <strong>Tóm tắt về @Model.Title</strong>
                                                            </p>
                                                            <p>
                                                                @Model.Description
                                                            </p>
                                                             @* Một chút mô tả desc ở đây thôi chứ ai rảnh đâu mà làm nhiều đm *@
                                                            <p><strong>Về không gian</strong></p>
                                                            <p>·Căn hộ được thiết kế với nhiều lựa chọn bố trí hợp lý và được trang bị theo tiêu chuẩn cao cấp 4 sao với ban công riêng và cảnh quan đẹp</p>
                                                            <p>·Có nhiều dịch vụ tại chỗ khác nhau như giặt ủi, dịch vụ vệ sinh, Wi-Fi miễn phí tốc độ cao, an ninh 24/7</p>
                                                            <p>·Dịch vụ khách hàng đặc biệt được cung cấp</p>
                                                            <p><strong>Căn hộ Deluxe 60m2 - Có ban công - Hướng nhìn thành phố</strong></p>
                                                            <p>·Thang máy ra vào căn hộ với hệ thống thẻ khóa an ninh</p>
                                                            <p>·Phòng khách được thiết kế theo phong cách hiện đại với ghế sofa và khu vực ăn uống riêng</p>
                                                            <p>·Nhà bếp được trang bị đầy đủ với bếp điện và máy hút mùi điện, lò vi sóng, tủ lạnh, ấm điện, đồ thủy tinh, đồ sành sứ, dao kéo</p>
                                                            <p>·Phòng tắm được trang bị bồn tắm dài / tắm đứng và kính riêng</p>
                                                            <p>·Phòng ngủ có sẵn ga trải giường và két an toàn cá nhân trong phòng</p>
                                                            <p>·Hệ thống giải trí với TV LCD và các kênh truyền hình cáp</p>
                                                            <p>·Điều hòa hai chiều với bộ điều khiển nhiệt riêng</p>
                                                            <p>·Điện thoại</p>
                                                            <p>·Wi-fi</p>
                                                            <p>·Cơ sở vật chất phòng tắm và nhà bếp tiện nghi đến từ các nhãn hàng nổi tiếng như: Koller, Samsung, Electrolux...</p>
                                                            <p>
                                                                ·Căn hộ đều có tiện nghi sang trọng, điện thoại, kênh truyền hình cáp, TV màn hình phẳng, máy lạnh, khu vực phòng khách, máy giặt, tủ quần áo, giá treo quần áo, máy sấy tóc, phòng tắm, dép, vòi
                                                                hoa sen, ghế sofa, sàn gỗ, tủ lạnh, lò vi sóng, đồ dùng nhà bếp, bàn ăn, khăn tắm, ga trải giường.
                                                            </p>
                                                            <p><strong>Các dịch vụ khác</strong></p>
                                                            <p>·Dịch vụ dọn phòng: 2 lần mỗi tuần</p>
                                                            <p>·Dịch vụ giặt đồ</p>
                                                            <p>·Bãi đỗ xe</p>
                                                            <p>·Camera an ninh 24/7</p>
                                                        </div>
                                                        <p class="click-short show-pointer  fw-bold text-primary text-info">Đọc thêm</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div id="amenities" class="convenient space-top">
                                    <h3 class="convenient-head">Tiện nghi chỗ ở</h3>
                                    <span>Giới thiệu về các tiện nghi và dịch vụ tại nơi lưu trú</span>
                                    <div class="utilities">
                                        <div class="row_flex amenities">
                                            <div class="amenities">
                                                <h4 class="utilities-head">
                                                    Tiện ích
                                                </h4>
                                                <ul class="utilities_list row_flex">
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-wifi"></i>
                                                        <span>Wifi</span>
                                                    </li>
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-tv"></i>
                                                        <span>TV</span>
                                                    </li>
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-fan"></i>
                                                        <span>Điều hoà</span>
                                                    </li>
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-shirt"></i>
                                                        <span>Máy giặt</span>
                                                    </li>
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-vest"></i>
                                                        <span>Dầu gội, dầu xả</span>
                                                    </li>
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-toilet-paper"></i>
                                                        <span>Giấy vệ sinh</span>
                                                    </li>
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-scroll"></i>
                                                        <span>Khăn tắm</span>
                                                    </li>
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-tooth"></i>
                                                        <span>Kem đánh răng</span>
                                                    </li>
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-sink"></i>
                                                        <span>Xà phòng tắm</span>
                                                    </li>
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-plug"></i>
                                                        <span>Máy sấy</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="amenities">
                                                <h4 class="utilities-head">
                                                    Tiện ích bếp
                                                </h4>
                                                <ul class="utilities_list row_flex">
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-fire-burner"></i>
                                                        <span>Bếp điện</span>
                                                    </li>
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-kitchen-set"></i>
                                                        <span>Tủ lạnh</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="amenities">
                                                <h4 class="utilities-head">
                                                    Tiện ích phòng
                                                </h4>
                                                <ul class="utilities_list row_flex">
                                                    <li class="col-4 mb-6">
                                                        <i class="fa-solid fa-campground"></i>
                                                        <span>Ban Công</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="amenities">
                                                <h4 class="utilities-head">
                                                    Tiện ích gia đình
                                                </h4>
                                                <ul class="utilities_list row_flex">
                                                    <li class="col-4 mb-12">
                                                        <i class="fa-solid fa-house-signal"></i>
                                                        <span>Phù hợp cho trẻ nhỏ</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="price" class="price space-top space-bottom-24">
                                    <h3>Giá phòng</h3>
                                    <span>Giá có thể tăng vào cuối tuần hoặc ngày lễ</span>
                                    <div class="price_wrap">
                                        <div class="row_flex price_wrap-item">
                                            <span class="price_wrap-item-time">Thứ hai - Thứ năm</span>
                                            <span class="price_wrap-quanlity">850,000₫</span>
                                        </div>
                                        <div class="row_flex price_wrap-item">
                                            <span class="price_wrap-item-time">Thứ sáu - Chủ nhật</span>
                                            <span class="price_wrap-quanlity">900,000₫</span>
                                        </div>
                                        <div class="row_flex price_wrap-item">
                                            <span class="price_wrap-item-time">Phí trẻ em tăng thêm</span>
                                            <span class="price_wrap-quanlity">125,000₫ (sau 2 khách)</span>
                                        </div>
                                        <div class="row_flex price_wrap-item">
                                            <span class="price_wrap-item-time">Thuê theo tháng</span>
                                            <span class="price_wrap-quanlity">-7.88 %</span>
                                        </div>
                                        <div class="row_flex price_wrap-item">
                                            <span class="price_wrap-item-time">Số đêm tối thiểu</span>
                                            <span class="price_wrap-quanlity">1 đêm</span>
                                        </div>
                                        <div class="row_flex price_wrap-item">
                                            <span class="price_wrap-item-time">Số đêm tối đa</span>
                                            <span class="price_wrap-quanlity">90 đêm</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="policy" class="policy space-top">
                                    <h3>Nội quy và chính sách về chỗ ở</h3>
                                    <h4 class="policy-h4 space-top-30 space-bottom-6">Chính sách huỷ phỏng</h4>
                                    <p style="line-height: 1.6;">
                                        <b>Linh hoạt:</b> Miễn phí hủy phòng trong vòng 48h sau khi đặt phòng thành công và trước 1 ngày so với thời gian check-in. Sau đó, hủy phòng trước 1 ngày so với thời gian check-in, được hoàn lại 100% tổng số tiền
                                        đã trả (trừ phí dịch vụ).
                                        <a href="" class="click-short">Chi tiết</a>
                                    </p>
                                    <div class="space-top-18">
                                        <div class="cancellation-rule">
                                            <div class="cancellation-rule_title">
                                                <div class="cancellation-text">
                                                    <p class="rule-title-p">Đặt phòng thành công</p>
                                                </div>
                                                <div class="cancellation-text">
                                                    <p class="rule-title-p">Sau 48h</p>
                                                </div>
                                                <div class="cancellation-text">
                                                    <p class="rule-title-p">1 ngày trước check-in</p>
                                                </div>
                                                <div class="cancellation-text" style="justify-content: flex-end; align-items: center;">
                                                    <p class="rule-title-p">Check-in</p>
                                                </div>
                                            </div>
                                            <div class="cancellation-rule_content">
                                                <div class="rules_process">
                                                    <div class="rules_process-symbol is-first">
                                                        <div class="check-mark"></div>
                                                        <div class="rules_process-line is-top"></div>
                                                        <div class="rules_process-line-bot is-bot"></div>
                                                    </div>
                                                    <p class="rules_process-title space-top-6 space-bottom-6">
                                                        <span class="d-block-mb">Đặt phòng thành công</span> Hoàn tiền 100%
                                                    </p>
                                                </div>
                                                <div class="rules_process">
                                                    <div class="rules_process-symbol is-normal">
                                                        <div class="rules_process-line is-top" style="height: 4px; background: rgb(255, 181, 0);"></div>
                                                        <div class="rules_process-line-bot is-bot" style="width: 1px; height: 120px;background: rgb(255, 181, 0);"></div>
                                                    </div>
                                                    <p class="rules_process-title space-top-6 space-bottom-6">
                                                        <span class="d-block-mb">Sau 48h</span> Hoàn tiền 100% (trừ phí dịch vụ)
                                                    </p>
                                                </div>
                                                <div class="rules_process" style="flex-grow: 1;">
                                                    <div class="rules_process-symbol is-normal" style="width: 20px; height: 20px; margin-top: 6px; background: rgb(246, 94, 57);">
                                                        <div class="rules_process-line is-top" style="height: 4px; background: rgb(246, 94, 57);"></div>
                                                        <div class="rules_process-line-bot is-bot" style="width: 1px; height: 120px;background: rgb(246, 94, 57);"></div>
                                                    </div>
                                                    <p class="rules_process-title space-top-6 space-bottom-6">
                                                        <span class="d-block-mb">1 ngày trươc Check-in</span> Hoàn 50% (trừ phí đêm đầu tiên, phí dịch vụ và các phí kèm theo)
                                                    </p>
                                                </div>
                                                <div class="rules_process">
                                                    <div class="rules_process-symbol is-last" style="width: 32px; height: 32px; background: rgb(246, 94, 57);">
                                                        <i class="fas fa-envelope top-50"></i>
                                                        <div class="rules_process-line is-top" style="height: 4px; background: rgb(246, 94, 57);"></div>
                                                        <div class="rules_process-line-bot is-bot d-none-mb" style="width: 1px; height: 120px; background: rgb(246, 94, 57);"></div>
                                                    </div>
                                                    <p class="rules_process-title space-top-6 space-bottom-6">
                                                        <span class="d-block-mb">Check-in</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="map space-top-24">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29799.51399934993!2d105.79962676823142!3d20.99507217168985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac927ce95957%3A0xe230355f8983adb9!2zVGhhbmggWHXDom4sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1645669000605!5m2!1svi!2s"
                                            allowfullscreen="" loading="lazy"></iframe>
                                </div>
                                <div id="utilities" class="space-top-24">
                                    <div class="login-instruction">
                                        <div class="row_flex">
                                            <div class="col-8 m-12">
                                                <h4 class="space-bottom-6">Đăng nhập và tận hưởng quyền lợi của Thành viên!</h4>
                                                <p class="space-bottom-16">Đăng ký thành viên Luxstay, trải nghiệm đột phá - Đặt phòng nhanh hơn, ưu đãi nhiều hơn nữa. </p>
                                                <a href="" class="login-instruction--btn btn-primary space-top-18">Đăng nhập ngay</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 m-12 col-pading d-none-tl">
                            <div class="room-active">
                                <button class="btn-flex btn-pure btn-bgr">
                                    <span class="btn-pure_title">Chia sẻ</span>
                                    <i class="fa-solid fa-link"></i>
                                </button>
                            </div>
                            <div class="room-slidebar">
                                <div >
                                    <div class="room-slidebar_content space-bottom-16">
                                        <div class="room-slide_wrap">
                                            <p class="room-slidebar_price">
                                                @{
                                                    if (@Model.Price is decimal || @Model.Price is int || @Model.Price is double)
                                                    {
                                                        var formattedPrice = Convert.ToDecimal(@Model.Price).ToString("N0");
                                                        <p class="room-slidebar_price">
                                                            <span class="text-primary" style="font-weight: bold;">@formattedPrice VNĐ</span>
                                                            <span class="text-primary " style="font-weight: bold;">/ đêm</span>
                                                        </p>
                                                    }
                                                    else
                                                    { 
                                                    <p class="room-slidebar_price">
                                                        <span class="text-primary" style="font-weight: bold;">@Model.Price VNĐ</span>
                                                        <span class="text-primary " style="font-weight: bold;">/ đêm</span>
                                                    </p>
                                                    }
                                                }
                                            </p>
                                            <div class="booking-time space-bottom-18">
                                                <div class="form-group col-12">
                                                    <label for="CheckIn">Ngày nhận phòng</label>
                                                    <input class="form-control mt-1" id="CheckIn" name="CheckIn" type="date">
                                                </div>
                                            </div>
                                            
                                            <div class="booking-time space-bottom-18 mt-3">
                                                <div class="form-group col-12">
                                                    <label for="CheckOut">Ngày trả phòng</label>
                                                    <input class="form-control mt-1" id="CheckOut" name="CheckOut" type="date">
                                                </div>
                                            </div>


                                            <div class="booking-time space-bottom-18 mt-3 ">
                                                <div class="form-group col-12 position-relative">
                                                    <label for="AmountOfPeople">Số người dự kiến ( Tối đa : <span class="text-primary fs-6 fst-italic">@Model.Capacity</span> người ) </label>
                                                    <input class="form-control mt-1" id="AmountOfPeople" name="AmountOfPeople" type="number">
                                                     <i class="fa-solid fa-person position-absolute text-black icon_person-detail-room"></i>
                                                </div>
                                            </div>


                                            <div class="booking-time space-bottom-18 mt-3">
                                                <div class="form-group col-12">
                                                    <label>Tổng số đêm ở: <span class="text-primary fs-14 fst-italic" id="totalNightsLabel">1 đêm</span></label>
                                                </div>
                                            </div>

                                            <div class="booking-time space-bottom-18 mt-2">
                                                <div class="form-group col-12">
                                                    <label>Số tiền bạn cần thành toán: <span class="text-danger fs-14 fst-italic" id="totalPriceLabel">0 </span><span class="text-danger fs-14  fst-italic">VNĐ</span> </label>
                                                </div>
                                            </div>

                                            <div class="booking-time space-bottom-18 mt-3">
                                                <div class="form-group col-12">
                                                    <label for="AmountOfPeople">Chọn phương thức thanh toán: </label>
                                                    <select id="PaymentId" name="BankName" class="border-0 form-select-sm bg-light me-3" class="form-control mt-1" asp-items="ViewBag.ListPayment">
                                                        <option value="">Mặc định</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button data-room-id="@Model.RoomId" data-price="@Model.Price" onClick="onClickAddBooking(this)" class="btn bg-primary  w-100 mt-3 ">
                                                <i class="fas fa-bolt text-white "></i>
                                                <span class="text-white fw-bold fs-16">Đặt ngay</span>
                                            </button>
                                            <div class="space-bottom-16 "></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="room-slidebar_content ">
                                    <div class="room-slide_wrap ">
                                        <div class="room-slide_advise ">
                                            <h3 class="space-bottom-6 ">Tư vấn từ Teamstay</h3>
                                            <p>
                                                Vui lòng cung cấp số điện thoại để nhận được tư vấn từ Luxstay cho chuyến đi của bạn.
                                            </p>
                                        </div>
                                        <div>
                                            <div class="account_body-group ">
                                                <input class="form-control mt-1" type="text" class="" placeholder="Tên khách hàng " autocomplete="username ">
                                                <span class="form-message "></span>
                                            </div>
                                            <div class="account_body-group ">
                                                <div class="phone-input ">
                                                    <div class="phone_input-fl-stretch ">
                                                        <input class ="form-control mt-1" type="number " name="phone " min="1 " placeholder="Số điện thoại " data-vv-as="Số điện thoại " aria-required="true " aria-invalid="true ">
                                                    </div>

                                                </div>
                                                <span class="form-message ">
                                                </span>
                                            </div>
                                            <div class="w-100">
                                                <button class="btn bg-warning text-white">
                                                    <span>Nhận tư vấn miễn phí</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="space-top-24 mb-3">
                                            <div class="contact row_flex ">
                                                <p>
                                                    Gọi
                                                    <a class="text-decoration-none text-primary" href=" ">18008586 (miễn phí)</a> để được hỗ trợ
                                                </p>
                                                <i class="fab fa-rocketchat "></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="booking_bar booking_bar-top d-none-mb">
                <div class="  wide ">
                    <div class="row_flex container_room mt_8 ">
                        <div class="col-7 m-12 col-pading booking-wrap ">
                            <ul class="booking-nav ">
                                <li class=" "><a href="#general ">Tổng quan</a></li>
                                <li class=" "><a href="#amenities ">Tiện nghi</a></li>
                                <li class=" "><a href="#price ">Giá phòng</a></li>
                                <li class=" "><a href="#reviews ">Đánh giá</a></li>
                                <li class=" "><a href="#policy ">Chính sách</a></li>
                                <li class=" "><a href="#utilities ">Tiện ích</a></li>
                            </ul>
                        </div>
                        <div class="col-5 m-12 row_flex col-pading booking-right d-none-tl">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-block-tl">
                <div class="  mobile-price">
                    <div class="  mobile-price_container padding-lr-20">
                        <div class="row_flex mobile-price_intro">
                            <div class="m-6 col-pading">
                                <div class="row_flex mobile-price_title">
                                    <p class="room-slidebar_price">
                                        <span style="font-weight: bold;">850,000₫</span>
                                        <span>/</span>
                                        <span>đêm</span>
                                    </p>
                                </div>
                            </div>
                            <div class="m-4 mb-6 mobile-price_btn col-pading">
                                <button class="btn btn--md btn-full btn-grad-primary btn-primary--shadow">
                                    <i class="fas fa-bolt "></i>
                                    <span>Đặt ngay</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="click-up">
                <a href="#" class="click-up-a">
                    <i class="fas fa-chevron-up"></i>
                </a>
            </div>
        </div>
    </div>
    
</div>


<script>
    const clickShort = document.querySelector('.show-pointer');
    const detailIntro_dot = document.querySelector('.dot');
    clickShort.onclick = () => {
        if (clickShort.innerHTML == 'Đọc thêm') {
            clickShort.innerHTML = 'Thu gọn';
            detailIntro_dot.classList.remove('dot');

        } else {
            clickShort.innerHTML = 'Đọc thêm';
            detailIntro_dot.classList.add('dot');
        }

    };

</script>

@section Scripts {
    <script>
        function onClickAddBooking(button) {


            var roomId = parseInt(button.getAttribute("data-room-id"));
            var price = parseInt(button.getAttribute("data-price"));
            var checkIn = new Date(document.getElementById("CheckIn").value);
            var checkOut = new Date(document.getElementById("CheckOut").value);
            var amountOfPeople = parseInt(document.getElementById("AmountOfPeople").value);
            var paymentId = document.getElementById("PaymentId").value;


            var oneDay = 24 * 60 * 60 * 1000;
            var totalNights = Math.round(Math.abs((checkOut - checkIn) / oneDay));

            var totalPrice = price * (1 + (totalNights - 1) * 0.1);




            document.getElementById("totalNightsLabel").innerText = totalNights;
            document.getElementById("totalPriceLabel").innerText = totalPrice.toLocaleString();


            var data = {
                RoomId: roomId,
                Price: price,
                CheckIn: checkIn,
                checkOut: checkOut,
                AmountOfPeople: amountOfPeople,
                PaymentId: paymentId,
                CustomerId: @TempData["IdAccount"],
            };
            console.log("data", data)
        }
    </script>

}