@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Room>
@{
    ViewData["Title"] = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="room_container mt-5">
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Lưu trú</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a  class="text-decoration-none text-primary"  asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active text-white">Lưu trú</li>
        </ol>
    </div>

    <div class="container-fluid fruite py-4">
        <div class="container py-5">
            <h1 class="mb-4 fs-4 room_title">Lưu trú phổ biến</h1>
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-xl-3">
                            <div class="input-group w-100 mx-auto d-flex">
                                <input value="@ViewBag.CurrentSearch" id="searchValue" name="searchValue" type="search" class="form-control  rounded-12 p-2" placeholder="Tìm kiếm..."
                                       aria-describedby="search-icon-1">
                                <span onclick="searchRooms()" id="search-icon-1" class="input-group-text p-2 rounded-12 pointer-event">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-6"></div> 

                        <div class="col-xl-3">
                            <div class="bg-light ps-3 py-2  rounded-12 d-flex justify-content-between mb-4">
                                <label for="fruits">Lọc:</label>
                                <select id="filterRooms" name="filterRooms" class="border-0 form-select-sm bg-light me-3"
                                        form="fruitform" asp-items="ViewBag.ListActiveFilter">
                                    <option value="">Mặc định</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>Danh mục</h4>
                                        @foreach (var category in ViewData["ListCategory"] as SelectList)
                                        {
                                            <div class="mb-2">
                                                <input type="radio" checked="@(ViewBag.CurrentCategory == int.Parse(category.Value) ? "checked" : null)" class="me-2" id="Categories-@category.Value" name="Categories-1" value="@category.Value" onchange="categoryChanged('@category.Value')">
                                                <label for="Categories-@category.Value" class="category-label"> @category.Text</label>
                                            </div>
                                        }
                                        <div class="mb-2">
                                            <input type="radio"  class="me-2" id="Categories-empty" name="Categories-1" value="0" onchange="categoryChanged('0')">
                                            <label for="Categories-empty" class="category-label">Tất cả</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4 class="mb-2">Giá</h4>
                                        <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput"
                                               min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                        <output id="amount" name="amount" min-velue="0" max-value="500"
                                                for="rangeInput">0</output>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h4 class="mb-3">Sản phẩm nổi bật</h4>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <img src="~/img/moutain.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">Big Banana</h6>
                                            <div class="d-flex mb-2">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">2.99 $</h5>
                                                <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <img src="img/featur-2.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">Big Banana</h6>
                                            <div class="d-flex mb-2">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">2.99 $</h5>
                                                <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <img src="img/featur-3.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">Big Banana</h6>
                                            <div class="d-flex mb-2">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">2.99 $</h5>
                                                <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center my-4">
                                        <a href="#"
                                           class="btn room_favoried px-4 py-3 rounded-pill text-primary w-100">
                                            Vew
                                            More
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="position-relative">
                                        <img src="img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row g-4 justify-content-center">
                                @if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-md-6 col-lg-6 col-xl-4">
                                            <div class="rounded-10 position-relative fruite-item ">
                                                <a asp-controller="Room" asp-route-id="@item.RoomId" asp-action="Details" class="fruite-img text-decoration-none">
                                                    <img src="@Url.Content("~/img/rooms/" + item.Avatar)" class="img-fluid w-100 rounded-top" alt="">
                                                </a>
                                                <div class="text-white bg-warning px-3 py-1 rounded-3 position-absolute"
                                                     style="top: 10px; left: 10px;">
                                                    Favored
                                                </div>
                                                <div class="p-4 border-top-0 content_room-item">
                                                    <h4 class="fw-bold fs-20 text-truncate">@item.Title</h4>
                                                    <p class="d-inline-block text-truncate" style="max-width: 100%;">
                                                        @item.Detail
                                                    </p>
                                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                                        @{
                                                            if (@item.Price is decimal || @item.Price is int || @item.Price is double)
                                                            {
                                                                var formattedPrice = Convert.ToDecimal(@item.Price).ToString("N0");
                                                                <p class=" fs-16 fw-bold mb-0 text-danger">@formattedPrice VNĐ / Đêm</p>
                                                                <a href=""
                                                                   class="text-decoration-none btn room_favoried rounded-pill px-3 mt-1 text-primary">
                                                                    <i class="fa-solid fa-heart me-2 text-primary"></i> Add to
                                                                    favourite
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <p class="fs-16 fw-bold mb-0 text-danger">@item.Price VNĐ / Đêm</p>
                                                                <a href=""
                                                                   class="text-decoration-none btn room_favoried rounded-pill px-3 mt-1 text-primary">
                                                                    <i class="fa-solid fa-heart me-2 text-primary"></i> Add to
                                                                    favourite
                                                                </a>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="col-12">
                                    <div class="col-12">
                                        <div class="pagination d-flex justify-content-center mt-5">
                                            @Html.PagedListPager(Model , page => Url.Action("Index" , new {page = page}))
                                        </div>
                                    </div>
                                    @*  <div class="pagination d-flex justify-content-center mt-5">
                                        <a href="#" class="rounded">&laquo;</a>
                                        <a href="#" class="active rounded">1</a>
                                        <a href="#" class="rounded">2</a>
                                        <a href="#" class="rounded">3</a>
                                        <a href="#" class="rounded">4</a>
                                        <a href="#" class="rounded">5</a>
                                        <a href="#" class="rounded">6</a>
                                        <a href="#" class="rounded">&raquo;</a>
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("filterRooms").addEventListener("change", function () {
                var selectedFilter = document.getElementById("filterRooms").value;
                var searchValue = document.getElementById("searchValue").value;
                var selectedCategory = $('#categoryId').data('value');
               
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/Room/FillterRoomsCategory?filter=" + selectedFilter + "&categoryId=" + selectedCategory + "&searchValue=" + searchValue, true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var result = JSON.parse(xhr.responseText);
                        if (result.status === 'Success') {
                            window.location.href = result.redirectUrl;
                        } else {
                            // Handle other cases if needed
                        }
                    }
                };
                xhr.send();
            });
        });

        function searchRooms() {
            var selectedFilter = document.getElementById("filterRooms").value;
            var searchValue = document.getElementById("searchValue").value;
            var selectedCategory = $('#categoryId').data('value');

            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/Room/FillterRoomsCategory?filter=" + selectedFilter + "&categoryId=" + selectedCategory + "&searchValue=" + searchValue, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var result = JSON.parse(xhr.responseText);
                    if (result.status === 'Success') {
                        window.location.href = result.redirectUrl;
                    } else {
                        // Handle other cases if needed
                    }
                }
            };
            xhr.send();
        }

        function categoryChanged(categoryId) {
            var selectedFilter = document.getElementById("filterRooms").value;
            var searchValue = document.getElementById("searchValue").value;
            $('#categoryId').data('value', categoryId);

            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/Room/FillterRoomsCategory?filter=" + selectedFilter + "&categoryId=" + categoryId + "&searchValue=" + searchValue, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var result = JSON.parse(xhr.responseText);
                    if (result.status === 'Success') {
                        window.location.href = result.redirectUrl;
                    } else {
                        // Handle other cases if needed
                    }
                }
            };
            xhr.send();
        }
    </script>
}



@* DÙNG QUERY NẾU CẦN NHA
     <script>
        $(document).ready(function () {
            $('#filterRooms').change(function () {
                var selectedFilter = $('#filterRooms').val();
                var searchValue = $('#searchValue').val();
                var selectedCategory = $('#categoryId').data('value');
                $.ajax({
                    url: '/Room/FillterRoomsCategory',
                    type: 'GET',
                    data: {
                        filter: selectedFilter,
                        categoryId: selectedCategory,
                        searchValue: searchValue
                    },
                    success: function (result) {
                        if (result.status === 'Success') {
                            window.location.href = result.redirectUrl;
                        } else {

                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("xhr", xhr)
                    }
                });
            });
        });
    </script>
     <script>
        function filterRooms() {
            var selectedFilter = $('#filterRooms').val();
            var searchValue = $('#searchValue').val();
            var selectedCategory = $('#categoryId').data('value');
            $.ajax({
                url: '/Room/FillterRoomsCategory',
                type: 'GET',
                data: {
                    filter: selectedFilter,
                    categoryId: selectedCategory,
                    searchValue: searchValue
                },
                success: function (result) {
                    if (result.status === 'Success') {
                        window.location.href = result.redirectUrl;
                    } else {
                    }
                },
                error: function (xhr, status, error) {
                    console.log("xhr", xhr);
                }
            });
        }
    </script>
    <script>
        function categoryChanged(categoryId) {
            var selectedFilter = $('#filterRooms').val();
            var searchValue = $('#searchValue').val();
           //  var selectedCategory = categoryId;
            $('#categoryId').data('value', categoryId);
            $.ajax({
                url: '/Room/FillterRoomsCategory',
                type: 'GET',
                data: {
                    filter: selectedFilter,
                    categoryId: categoryId,
                    searchValue: searchValue
                },
                success: function (result) {
                    if (result.status === 'Success') {
                        window.location.href = result.redirectUrl;
                    } else {
                        // Handle other cases if needed
                    }
                },
                error: function (xhr, status, error) {
                    console.log("xhr", xhr);
                }
            });
        }
    </script>
*@