@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Account>
@{
    ViewData["Title"] = "Account";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="">

    <div class="mt-4">
        <h4>QUẢN LÝ TÀI KHOẢN</h4>
        <div class="header_sub-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="account-actions-contain d-flex">
        <div style="flex: 1;">
            <div class="d-flex gap-3">
                <div class="col-6">
                    <div class="bg-light ps-3 py-2  rounded-12 d-flex justify-content-between mb-4">
                        <label >Role:</label>
                        <select id="roles" class="border-0 form-select-sm bg-light me-3" class="form-control" asp-items="ViewBag.ListRole">
                            <option value="">Default</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="bg-light ps-3 py-2  rounded-12 d-flex justify-content-between mb-4">
                        <label>Active:</label>
                        <select  id="status" class="border-0 form-select-sm bg-light me-3">
                            <option value="">Default</option>
                            <option value="0">Active</option>
                            <option value="1">Deative</option>
                        </select>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-6"></div>
        <div>
            <a asp-action="Create" class="text-decoration-none btn bg-primary text-white">Thêm Tài Khoản</a>
        </div>
    </div>

    <table class="table table-striped w-100 mt-2">
        <thead>
            <tr>
              
                <th scope="col">ID</th>
                <th scope="col">Account Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Active</th>
                <th scope="col">Password</th>
                <th scope="col">CMND</th>
                <th scope="col">Quyền</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.AccountId
                    </td>
                    <td>
                        @item.AccountName
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @if( item.Active)
                        {
                            <input type="checkbox" class="form-check-input" checked disabled>
                        }else
                        {
                            <input type="checkbox" class="form-check-input"  disabled>
                        }
                    </td>
                    <td>
                        @item.Password
                    </td>
                    <td>
                        @item.Cccd
                    </td>
                    <td>
                        @item.Role.RoleName
                    </td>
                    <td>
                        <a class="text-decoration-none" asp-action="Edit" asp-route-id="@item.AccountId"> <i class="fa-solid fa-pen text-warning"></i> </a>
                        <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.AccountId"><i class="fa-solid fa-eye"></i></a>

                        <button type="button" class="button_none" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.AccountId">
                            <i class="fa-solid fa-trash text-danger"></i>
                        </button>
                        <div class="modal fade rounded-16" id="exampleModal-@item.AccountId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Are you sure you want to delete @item.AccountName ?
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="@Url.Action("DeleteCustomerNotView", "Customers", new { id = item.AccountId })">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger rounded-3">Yes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                  
                </tr>
            }

        </tbody>
    </table>
</section>
<div class="col-12">
    <div class="pagination d-flex justify-content-center mt-5">
        @Html.PagedListPager(Model , page => Url.Action("Index" , new {page = page}))

    </div>
</div>
<script src="~/js/popper.js"></script>


